body.home-page {
  background-image: linear-gradient(rgba(16, 12, 9, 0.35), rgba(16, 12, 9, 0.35)), var(--home-bg-image);
  background-size: 80%;
  background-position: center 30px;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

body.home-page #root > div {
  background: transparent !important;
}
